#delete1{
    background-color: #2F8F9D;
}
#add1{
    background-color: #3BACB6;
}
#view1{
    background-color: #82DBD8;
}
#edit1{
    background-color: #B3E8E5;
}
#body{
    background-color: #688694;
}

nav{
    position: sticky;}

    
   